{% extends 'base.html' %}

{% block menu %}

{% endblock %}
{% block content %}
   <h1>Tasks:</h1>
   <hr/>

   {% for task in tasks %}

        <h2><a href="{% url 'task_view' task.pk %}">{{ task.pk }}.{{ task.title }}</a></h2>
        <p>Статус: {{ task.get_status_display }}</p>
    <p>Deadline:{{ task.deadline }} | Created at:{{ task.created_at }}</p>
    <p><a href="{% url 'task_view' task.pk %}">Подробнее</a></p>
    <p><a href="{% url 'task_update' task.pk %}">Update</a></p>

       <hr/>
   {% endfor %}

{% endblock %}




