{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>View</title>
</head>
<body>
<div class="card-body">
    <h1>Created task</h1>
    <h2 class="card-title">{{ task.title }}</h2>
    <p>Status: {{ task.status }}</p>
    <p>Deadline: {{ task.deadline }}</p>
     <p>Created at: {{ task.created_at }}</p>
    <p>Updated at: {{ task.updated_at }}</p>
    <p><a href="/">На главную</a></p>
     </div>
</body>
</html>