{% extends 'base.html' %}
{% block title %}Delete{% endblock %}
{% block menu %}
    <li><a href="{% url 'task_view' task.pk %}">Отмена</a></li>
{% endblock %}
{% block content %}
    <h1>Вы уверены, что хотите удалить задачу "{{ task.title }}"?</h1>
    <p>By: {{ task.deadline }} | {{ task.created_at }}</p>
    <form action="{% url "task_delete" task.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Да"></p>
        <p><a href="{% url 'task_view' task.pk %}" value="Отмена"></a></p>
    </form>
    <h3>Полное описание задачи: </h3>
    <p>{{ task.description }}</p>
{% endblock %}